body {
  background-color: chocolate;
}

.slider_container {
  position: relative;
  width: 600px;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;

  .slider {
    display: flex;

    img {
      max-width: 100%;
    }
  }
  .js_btn_prev,
  .js_btn_next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 50px;
    border: none;
    font-size: 24px;
    &.js_btn_prev {
      left: 10px;
    }

    &.js_btn_next {
      right: 10px;
    }
  }
}
